@model Csharp_periode_4_Groep_24_2025.Models.Category;
@using Csharp_periode_4_Groep_24_2025.Data.Enum;

@{
    ViewData["Title"] = "Category details";
}

<div class="display-info">
    <h1 class="display-paragraph">
        @Html.DisplayFor(model => model.Name)
    </h1>
    <p class="display-paragraph">
        @Html.DisplayFor(model => model.Id)
    </p>
    <ul>
    @foreach (var animal in Model.Animals)
    {
        <li>@animal.Name</li>
    }
    </ul>
</div>
<div class="display-options">
    <ul>
        <li><a asp-action="Delete" asp-route-id="@Model.Id">Delete category</a></li>
        <li><a asp-action="Edit" asp-route-id="@Model.Id">Edit category</a></li>
        <li><a asp-action="Sunset" asp-route-id="@Model.Id">Sunset activity</a></li>
        <li><a asp-action="Sunrise" asp-route-id="@Model.Id">Sunrise activity</a></li>
        <li><a asp-action="FeedingTime" asp-route-id="@Model.Id">Check food requirements</a></li>
        <li><a asp-action="CheckConstraints" asp-route-id="@Model.Id">Check constraints</a></li>
    </ul>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>