@model IEnumerable<Csharp_periode_4_Groep_24_2025.Models.Category>
@{
    ViewData["Title"] = "Category page";
}

<h1>@ViewData["Title"]</h1>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Animal home page.</p>
    <p>
        <a asp-action="create">Create New</a>
    </p>
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelitem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </table>
</div>